<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booking.mapper.StationMapper">
    <resultMap id="StationResultMap" type="com.booking.entity.Station">
        <id property="stationId" column="station_id" />
        <result property="stationName" column="station_name" />
        <result property="city" column="city" />
        <result property="stationCode" column="station_code" />
        <result property="address" column="address" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <insert id="insert" parameterType="com.booking.entity.Station" useGeneratedKeys="true" keyProperty="stationId">
        INSERT INTO stations(station_name, city, station_code, address)
        VALUES(#{stationName}, #{city}, #{stationCode}, #{address})
    </insert>

    <update id="update" parameterType="com.booking.entity.Station">
        UPDATE stations
        SET station_name = #{stationName},
            city = #{city},
            station_code = #{stationCode},
            address = #{address}
        WHERE station_id = #{stationId}
    </update>

    <select id="findById" parameterType="int" resultMap="StationResultMap">
        SELECT * FROM stations WHERE station_id = #{stationId}
    </select>
    
    <select id="findByName" parameterType="string" resultMap="StationResultMap">
        SELECT * FROM stations WHERE station_name = #{stationName} LIMIT 1
    </select>

    <select id="findAll" resultMap="StationResultMap">
        SELECT * FROM stations
    </select>
</mapper>

