/* Home页面样式 */

.page-home {
  padding-top: 24px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.home-search-form {
  margin-top: 8px;
}

.swap-button-col {
  display: flex;
  align-items: flex-end;
  padding-bottom: 24px;
}

.swap-stations-btn {
  width: 100%;
  height: 40px;
}

@media (max-width: 768px) {
  .swap-button-col {
    display: none;
  }
}
